ejb/examples/05_SOAP/02SOAPWS-Client/xml-resources/web-service-references/GreeterService/wsdl/localhost_7001/02SOAPWS/GreeterService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxws.example.com/"><xsd:complexType name="GreetFull"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/><xsd:element name="arg1" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="GreetFullResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="GreetFirst"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="GreetFirstResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="GreetFull" type="ns0:GreetFull"/><xsd:element name="GreetFullResponse" type="ns0:GreetFullResponse"/><xsd:element name="GreetFirst" type="ns0:GreetFirst"/><xsd:element name="GreetFirstResponse" type="ns0:GreetFirstResponse"/></xsd:schema>