ejb/solutions/11_Concurrency/ConcurrencyL11P3/ConcurrencyL11P3-ejb/src/conf/xml-resources/web-service-references/WordWebService/wsdl/localhost_7005/ConcurrencyServices/WordWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://concurrency.services.practices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://concurrency.services.practices.com/"><xsd:complexType name="register"><xsd:sequence><xsd:element name="word" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="registerResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="register" type="ns0:register"/><xsd:element name="registerResponse" type="ns0:registerResponse"/></xsd:schema>