webservice/solutions/lab05/Practice5-5/CardDeckSEClient/src/META-INF/wsdl/localhost_7001/CardDeckSessionBean/CardDeckSessionBeanService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xs:schema xmlns:tns="urn:dukesdecks" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn:dukesdecks">

<xs:element name="stack" type="tns:stackType"/>

<xs:complexType name="stackType">
<xs:sequence>
<xs:element name="card" type="tns:cardType" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cardType">
<xs:sequence>
<xs:element name="rank" type="tns:rankType"/>
<xs:choice>
<xs:element name="suit" type="tns:suitType"/>
<xs:element name="color" type="tns:colorType"/>
</xs:choice>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="rankType">
<xs:restriction base="xs:string">
<xs:enumeration value="A"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
<xs:enumeration value="7"/>
<xs:enumeration value="8"/>
<xs:enumeration value="9"/>
<xs:enumeration value="10"/>
<xs:enumeration value="J"/>
<xs:enumeration value="Q"/>
<xs:enumeration value="K"/>
<xs:enumeration value="JOKER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="suitType">
<xs:restriction base="xs:string">
<xs:enumeration value="CLUBS"/>
<xs:enumeration value="DIAMONDS"/>
<xs:enumeration value="HEARTS"/>
<xs:enumeration value="SPADES"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="colorType">
<xs:restriction base="xs:string">
<xs:enumeration value="WHITE"/>
<xs:enumeration value="RED"/>
<xs:enumeration value="BLACK"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>