webservice/solutions/lab05/Practice5-7/SlowCalculatorEEClient/src/java/META-INF/wsdls/CalculatorWSService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://calculator.me.org/" version="1.0" xmlns:tns="http://calculator.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="add" type="tns:add"/>
  <xs:element name="addResponse" type="tns:addResponse"/>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="i" type="xs:int"/>
      <xs:element name="j" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>