webservice/solutions/lab12/Practice12-2/IndianRummyWS/src/conf/xml-resources/web-service-references/CardGameService/wsdl/localhost_7001/GenericCardGameWS/CardGameService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xs:schema xmlns:tns="urn:dukesdecks" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:dukesdecks">

<xs:complexType name="cardType">
<xs:sequence>
<xs:element name="rank" type="xs:string" form="qualified"/>
<xs:element name="suit" type="tns:suitType" form="qualified" minOccurs="0"/>
<xs:element name="color" type="tns:colorType" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="suitType">
<xs:restriction base="xs:string">
<xs:enumeration value="CLUBS"/>
<xs:enumeration value="DIAMONDS"/>
<xs:enumeration value="HEARTS"/>
<xs:enumeration value="SPADES"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="colorType">
<xs:restriction base="xs:string">
<xs:enumeration value="WHITE"/>
<xs:enumeration value="RED"/>
<xs:enumeration value="BLACK"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>