webservices/solutions/lab11/Practice11-2/IndianRummyWS/web/WEB-INF/wsdl/localhost_7001/GenericCardGameWS/CardGameService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://games/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://games/" name="CardGameService">
<types>
<xsd:schema>
<xsd:import namespace="http://games/" schemaLocation="http://localhost:7001/GenericCardGameWS/CardGameService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:dukesdecks" schemaLocation="http://localhost:7001/GenericCardGameWS/CardGameService?xsd=2"/>
</xsd:schema>
</types>
<message name="createCardGame">
<part name="parameters" element="tns:createCardGame"/>
</message>
<message name="createCardGameResponse">
<part name="parameters" element="tns:createCardGameResponse"/>
</message>
<message name="GameException">
<part name="fault" element="tns:GameException"/>
</message>
<message name="showTopCard">
<part name="parameters" element="tns:showTopCard"/>
</message>
<message name="showTopCardResponse">
<part name="parameters" element="tns:showTopCardResponse"/>
</message>
<message name="showPile">
<part name="parameters" element="tns:showPile"/>
</message>
<message name="showPileResponse">
<part name="parameters" element="tns:showPileResponse"/>
</message>
<message name="transferCards">
<part name="parameters" element="tns:transferCards"/>
</message>
<message name="transferCardsResponse">
<part name="parameters" element="tns:transferCardsResponse"/>
</message>
<message name="shuffleAll">
<part name="parameters" element="tns:shuffleAll"/>
</message>
<message name="shuffleAllResponse">
<part name="parameters" element="tns:shuffleAllResponse"/>
</message>
<message name="shufflePile">
<part name="parameters" element="tns:shufflePile"/>
</message>
<message name="shufflePileResponse">
<part name="parameters" element="tns:shufflePileResponse"/>
</message>
<message name="removeCardGame">
<part name="parameters" element="tns:removeCardGame"/>
</message>
<message name="removeCardGameResponse">
<part name="parameters" element="tns:removeCardGameResponse"/>
</message>
<message name="createPile">
<part name="parameters" element="tns:createPile"/>
</message>
<message name="createPileResponse">
<part name="parameters" element="tns:createPileResponse"/>
</message>
<message name="create-all-supply-pile">
<part name="parameters" element="tns:create-all-supply-pile"/>
</message>
<message name="create-all-supply-pileResponse">
<part name="parameters" element="tns:create-all-supply-pileResponse"/>
</message>
<message name="createPiles">
<part name="parameters" element="tns:createPiles"/>
</message>
<message name="createPilesResponse">
<part name="parameters" element="tns:createPilesResponse"/>
</message>
<portType name="CardGameService">
<operation name="createCardGame">
<input wsam:Action="http://games/CardGameService/createCardGameRequest" message="tns:createCardGame"/>
<output wsam:Action="http://games/CardGameService/createCardGameResponse" message="tns:createCardGameResponse"/>
<fault message="tns:GameException" name="GameException" wsam:Action="http://games/CardGameService/createCardGame/Fault/GameException"/>
</operation>
<operation name="showTopCard">
<input wsam:Action="http://games/CardGameService/showTopCardRequest" message="tns:showTopCard"/>
<output wsam:Action="http://games/CardGameService/showTopCardResponse" message="tns:showTopCardResponse"/>
</operation>
<operation name="showPile">
<input wsam:Action="http://games/CardGameService/showPileRequest" message="tns:showPile"/>
<output wsam:Action="http://games/CardGameService/showPileResponse" message="tns:showPileResponse"/>
</operation>
<operation name="transferCards">
<input wsam:Action="http://games/CardGameService/transferCardsRequest" message="tns:transferCards"/>
<output wsam:Action="http://games/CardGameService/transferCardsResponse" message="tns:transferCardsResponse"/>
</operation>
<operation name="shuffleAll">
<input wsam:Action="http://games/CardGameService/shuffleAllRequest" message="tns:shuffleAll"/>
<output wsam:Action="http://games/CardGameService/shuffleAllResponse" message="tns:shuffleAllResponse"/>
</operation>
<operation name="shufflePile">
<input wsam:Action="http://games/CardGameService/shufflePileRequest" message="tns:shufflePile"/>
<output wsam:Action="http://games/CardGameService/shufflePileResponse" message="tns:shufflePileResponse"/>
</operation>
<operation name="removeCardGame">
<input wsam:Action="http://games/CardGameService/removeCardGameRequest" message="tns:removeCardGame"/>
<output wsam:Action="http://games/CardGameService/removeCardGameResponse" message="tns:removeCardGameResponse"/>
</operation>
<operation name="createPile">
<input wsam:Action="http://games/CardGameService/createPileRequest" message="tns:createPile"/>
<output wsam:Action="http://games/CardGameService/createPileResponse" message="tns:createPileResponse"/>
</operation>
<operation name="create-all-supply-pile">
<input wsam:Action="http://games/CardGameService/create-all-supply-pileRequest" message="tns:create-all-supply-pile"/>
<output wsam:Action="http://games/CardGameService/create-all-supply-pileResponse" message="tns:create-all-supply-pileResponse"/>
</operation>
<operation name="createPiles">
<input wsam:Action="http://games/CardGameService/createPilesRequest" message="tns:createPiles"/>
<output wsam:Action="http://games/CardGameService/createPilesResponse" message="tns:createPilesResponse"/>
</operation>
</portType>
<binding name="CardGameServicePortBinding" type="tns:CardGameService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCardGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GameException">
<soap:fault name="GameException" use="literal"/>
</fault>
</operation>
<operation name="showTopCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showPile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shuffleAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shufflePile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCardGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create-all-supply-pile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CardGameService">
<port name="CardGameServicePort" binding="tns:CardGameServicePortBinding">
<soap:address location="http://localhost:7001/GenericCardGameWS/CardGameService"/>
</port>
</service>
</definitions>