webservices/solutions/lab11/Practice11-2/IndianRummyWS/web/WEB-INF/wsdl/localhost_7001/GenericCardGameWS/CardGameService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="urn:dukesdecks" targetNamespace="urn:dukesdecks"><xsd:complexType name="cardType"><xsd:sequence><xsd:element name="rank" type="xsd:string" form="qualified"/><xsd:element name="suit" type="ns0:suitType" form="qualified" minOccurs="0"/><xsd:element name="color" type="ns0:colorType" form="qualified" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:simpleType name="suitType"><xsd:restriction base="xsd:string"><xsd:enumeration value="CLUBS"/><xsd:enumeration value="DIAMONDS"/><xsd:enumeration value="HEARTS"/><xsd:enumeration value="SPADES"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="colorType"><xsd:restriction base="xsd:string"><xsd:enumeration value="WHITE"/><xsd:enumeration value="RED"/><xsd:enumeration value="BLACK"/></xsd:restriction></xsd:simpleType></xsd:schema>