webservices/solutions/lab05/Practice5-5/CardDeckSEClient/src/META-INF/CardDeckSessionBeanService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejbs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejbs/" name="CardDeckSessionBeanService">
<types>
<xsd:schema>
<xsd:import namespace="urn:dukesdecks" schemaLocation="http://localhost:7001/CardDeckSessionBean/CardDeckSessionBeanService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ejbs/" schemaLocation="http://localhost:7001/CardDeckSessionBean/CardDeckSessionBeanService?xsd=2"/>
</xsd:schema>
</types>
<message name="createDeck">
<part name="parameters" element="tns:createDeck"/>
</message>
<message name="createDeckResponse">
<part name="parameters" element="tns:createDeckResponse"/>
</message>
<message name="listDeckIds">
<part name="parameters" element="tns:listDeckIds"/>
</message>
<message name="listDeckIdsResponse">
<part name="parameters" element="tns:listDeckIdsResponse"/>
</message>
<message name="deleteDeck">
<part name="parameters" element="tns:deleteDeck"/>
</message>
<message name="deleteDeckResponse">
<part name="parameters" element="tns:deleteDeckResponse"/>
</message>
<message name="shuffleDeck">
<part name="parameters" element="tns:shuffleDeck"/>
</message>
<message name="shuffleDeckResponse">
<part name="parameters" element="tns:shuffleDeckResponse"/>
</message>
<message name="getDeck">
<part name="parameters" element="tns:getDeck"/>
</message>
<message name="getDeckResponse">
<part name="parameters" element="tns:getDeckResponse"/>
</message>
<portType name="CardDeckSessionBean">
<operation name="createDeck">
<input wsam:Action="http://ejbs/CardDeckSessionBean/createDeckRequest" message="tns:createDeck"/>
<output wsam:Action="http://ejbs/CardDeckSessionBean/createDeckResponse" message="tns:createDeckResponse"/>
</operation>
<operation name="listDeckIds">
<input wsam:Action="http://ejbs/CardDeckSessionBean/listDeckIdsRequest" message="tns:listDeckIds"/>
<output wsam:Action="http://ejbs/CardDeckSessionBean/listDeckIdsResponse" message="tns:listDeckIdsResponse"/>
</operation>
<operation name="deleteDeck">
<input wsam:Action="http://ejbs/CardDeckSessionBean/deleteDeckRequest" message="tns:deleteDeck"/>
<output wsam:Action="http://ejbs/CardDeckSessionBean/deleteDeckResponse" message="tns:deleteDeckResponse"/>
</operation>
<operation name="shuffleDeck">
<input wsam:Action="http://ejbs/CardDeckSessionBean/shuffleDeckRequest" message="tns:shuffleDeck"/>
<output wsam:Action="http://ejbs/CardDeckSessionBean/shuffleDeckResponse" message="tns:shuffleDeckResponse"/>
</operation>
<operation name="getDeck">
<input wsam:Action="http://ejbs/CardDeckSessionBean/getDeckRequest" message="tns:getDeck"/>
<output wsam:Action="http://ejbs/CardDeckSessionBean/getDeckResponse" message="tns:getDeckResponse"/>
</operation>
</portType>
<binding name="CardDeckSessionBeanPortBinding" type="tns:CardDeckSessionBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createDeck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listDeckIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDeck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shuffleDeck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CardDeckSessionBeanService">
<port name="CardDeckSessionBeanPort" binding="tns:CardDeckSessionBeanPortBinding">
<soap:address location="http://localhost:7001/CardDeckSessionBean/CardDeckSessionBeanService"/>
</port>
</service>
</definitions>