webservice/solutions/lab10/Practice10-4/IndianRummyWS/src/conf/xml-resources/web-service-references/CardGameService/wsdl/localhost_7001/GenericCardGameWS/CardGameService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xs:schema xmlns:tns="http://games/" xmlns:ns1="urn:dukesdecks" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://games/">

<xs:import namespace="urn:dukesdecks" schemaLocation="http://localhost:7001/GenericCardGameWS/CardGameService?xsd=1"/>

<xs:element name="create-all-supply-pile" type="tns:create-all-supply-pile"/>

<xs:element name="create-all-supply-pileResponse" type="tns:create-all-supply-pileResponse"/>

<xs:element name="createCardGame" type="tns:createCardGame"/>

<xs:element name="createCardGameResponse" type="tns:createCardGameResponse"/>

<xs:element name="createPile" type="tns:createPile"/>

<xs:element name="createPileResponse" type="tns:createPileResponse"/>

<xs:element name="createPiles" type="tns:createPiles"/>

<xs:element name="createPilesResponse" type="tns:createPilesResponse"/>

<xs:element name="removeCardGame" type="tns:removeCardGame"/>

<xs:element name="removeCardGameResponse" type="tns:removeCardGameResponse"/>

<xs:element name="showPile" type="tns:showPile"/>

<xs:element name="showPileResponse" type="tns:showPileResponse"/>

<xs:element name="showTopCard" type="tns:showTopCard"/>

<xs:element name="showTopCardResponse" type="tns:showTopCardResponse"/>

<xs:element name="shuffleAll" type="tns:shuffleAll"/>

<xs:element name="shuffleAllResponse" type="tns:shuffleAllResponse"/>

<xs:element name="shufflePile" type="tns:shufflePile"/>

<xs:element name="shufflePileResponse" type="tns:shufflePileResponse"/>

<xs:element name="transferCards" type="tns:transferCards"/>

<xs:element name="transferCardsResponse" type="tns:transferCardsResponse"/>

<xs:complexType name="shufflePile">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="pile-name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shufflePileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createCardGame">
<xs:sequence>
<xs:element name="deck-count" type="xs:int"/>
<xs:element name="jokers-per-deck" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCardGameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPiles">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="size" type="xs:int"/>
<xs:element name="dist-method" type="tns:distributionMethod" minOccurs="0"/>
<xs:element name="pile" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPilesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="transferCards">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="source-pile" type="xs:string" minOccurs="0"/>
<xs:element name="dest-pile" type="xs:string" minOccurs="0"/>
<xs:element name="cards" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferCardsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createPile">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="size" type="xs:int"/>
<xs:element name="pile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="create-all-supply-pile">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="pile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create-all-supply-pileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="shuffleAll">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shuffleAllResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showTopCard">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="pile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showTopCardResponse">
<xs:sequence>
<xs:element name="return" type="ns1:cardType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCardGame">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCardGameResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showPile">
<xs:sequence>
<xs:element name="game-id" type="xs:string" minOccurs="0"/>
<xs:element name="pile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showPileResponse">
<xs:sequence>
<xs:element name="return" type="ns1:cardType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="distributionMethod">
<xs:restriction base="xs:string">
<xs:enumeration value="ROUND_ROBIN"/>
<xs:enumeration value="FILL_PILE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>