webservices/exercises/lab01/CalculatorApp/web/WEB-INF/wsdl/localhost_7001/CalculatorApp/CalculatorWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns0="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://calculator.me.org/"><xsd:complexType name="addResponse"><xsd:sequence><xsd:element name="return" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="add"><xsd:sequence><xsd:element name="i" type="xsd:int"/><xsd:element name="j" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:element name="addResponse" type="ns0:addResponse"/><xsd:element name="add" type="ns0:add"/></xsd:schema>