ejb/solutions/05_SOAP/Sol05-02SOAPClient/xml-resources/web-service-references/CalcService/wsdl/localhost_7001/Sol05-02SOAP/CalcService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws.example.com/" name="CalcService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws.example.com/" schemaLocation="http://localhost:7001/Sol05-02SOAP/CalcService?xsd=1"/>
</xsd:schema>
</types>
<message name="squared">
<part name="parameters" element="tns:squared"/>
</message>
<message name="squaredResponse">
<part name="parameters" element="tns:squaredResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="Calc">
<operation name="squared">
<input wsam:Action="http://jaxws.example.com/Calc/squaredRequest" message="tns:squared"/>
<output wsam:Action="http://jaxws.example.com/Calc/squaredResponse" message="tns:squaredResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://jaxws.example.com/Calc/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://jaxws.example.com/Calc/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://jaxws.example.com/Calc/addRequest" message="tns:add"/>
<output wsam:Action="http://jaxws.example.com/Calc/addResponse" message="tns:addResponse"/>
</operation>
</portType>
<binding name="CalcPortBinding" type="tns:Calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="squared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcService">
<port name="CalcPort" binding="tns:CalcPortBinding">
<soap:address location="http://localhost:7001/Sol05-02SOAP/CalcService"/>
</port>
</service>
</definitions>