ejb/solutions/05_SOAP/Sol05-02SOAPClient/xml-resources/web-service-references/CalcService/wsdl/localhost_7001/Sol05-02SOAP/CalcService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxws.example.com/"><xsd:complexType name="add"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/><xsd:element name="arg1" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="addResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="squared"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="squaredResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="subtract"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/><xsd:element name="arg1" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="subtractResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="add" type="ns0:add"/><xsd:element name="addResponse" type="ns0:addResponse"/><xsd:element name="squared" type="ns0:squared"/><xsd:element name="squaredResponse" type="ns0:squaredResponse"/><xsd:element name="subtract" type="ns0:subtract"/><xsd:element name="subtractResponse" type="ns0:subtractResponse"/></xsd:schema>