webservices/solutions/lab15/Practice15-1/IndianRummyWS/src/conf/xml-resources/web-service-references/CardGameService/wsdl/localhost_7001/GenericCardGameWS/CardGameService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://games/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://games/" name="CardGameService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Wssp1.2-2007-EncryptBody.xml">
<ns1:EncryptedParts xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<ns1:Body/>
</ns1:EncryptedParts>
</wsp1_2:Policy>
<wsp1_2:Policy wssutil:Id="Wssp1.2-2007-SignBody.xml">
<ns2:SignedParts xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<ns2:Body/>
</ns2:SignedParts>
</wsp1_2:Policy>
<wsp1_2:Policy wssutil:Id="Wssp1.2-2007-Wss1.1-UsernameToken-Plain-X509-Basic256.xml">
<ns3:AsymmetricBinding xmlns:ns3="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns3:InitiatorToken>
<wsp1_2:Policy>
<ns3:X509Token ns3:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns3:WssX509V3Token10/>
</wsp1_2:Policy>
</ns3:X509Token>
</wsp1_2:Policy>
</ns3:InitiatorToken>
<ns3:RecipientToken>
<wsp1_2:Policy>
<ns3:X509Token ns3:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp1_2:Policy>
<ns3:WssX509V3Token10/>
</wsp1_2:Policy>
</ns3:X509Token>
</wsp1_2:Policy>
</ns3:RecipientToken>
<ns3:AlgorithmSuite>
<wsp1_2:Policy>
<ns3:Basic256/>
</wsp1_2:Policy>
</ns3:AlgorithmSuite>
<ns3:Layout>
<wsp1_2:Policy>
<ns3:Lax/>
</wsp1_2:Policy>
</ns3:Layout>
<ns3:IncludeTimestamp/>
<ns3:ProtectTokens/>
<ns3:OnlySignEntireHeadersAndBody/>
</wsp1_2:Policy>
</ns3:AsymmetricBinding>
<ns4:SignedEncryptedSupportingTokens xmlns:ns4="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns4:UsernameToken ns4:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns4:WssUsernameToken10/>
</wsp1_2:Policy>
</ns4:UsernameToken>
</wsp1_2:Policy>
</ns4:SignedEncryptedSupportingTokens>
<ns5:Wss11 xmlns:ns5="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns5:MustSupportRefKeyIdentifier/>
<ns5:MustSupportRefIssuerSerial/>
<ns5:MustSupportRefThumbprint/>
<ns5:MustSupportRefEncryptedKey/>
<ns5:RequireSignatureConfirmation/>
</wsp1_2:Policy>
</ns5:Wss11>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="urn:dukesdecks" schemaLocation="http://localhost:7001/GenericCardGameWS/CardGameService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://games/" schemaLocation="http://localhost:7001/GenericCardGameWS/CardGameService?xsd=2"/>
</xsd:schema>
</types>
<message name="create-all-supply-pile">
<part name="parameters" element="tns:create-all-supply-pile"/>
</message>
<message name="create-all-supply-pileResponse">
<part name="parameters" element="tns:create-all-supply-pileResponse"/>
</message>
<message name="createPile">
<part name="parameters" element="tns:createPile"/>
</message>
<message name="createPileResponse">
<part name="parameters" element="tns:createPileResponse"/>
</message>
<message name="createPiles">
<part name="parameters" element="tns:createPiles"/>
</message>
<message name="createPilesResponse">
<part name="parameters" element="tns:createPilesResponse"/>
</message>
<message name="showTopCard">
<part name="parameters" element="tns:showTopCard"/>
</message>
<message name="showTopCardResponse">
<part name="parameters" element="tns:showTopCardResponse"/>
</message>
<message name="showPile">
<part name="parameters" element="tns:showPile"/>
</message>
<message name="showPileResponse">
<part name="parameters" element="tns:showPileResponse"/>
</message>
<message name="shuffleAll">
<part name="parameters" element="tns:shuffleAll"/>
</message>
<message name="shuffleAllResponse">
<part name="parameters" element="tns:shuffleAllResponse"/>
</message>
<message name="shufflePile">
<part name="parameters" element="tns:shufflePile"/>
</message>
<message name="shufflePileResponse">
<part name="parameters" element="tns:shufflePileResponse"/>
</message>
<message name="createCardGame">
<part name="parameters" element="tns:createCardGame"/>
</message>
<message name="createCardGameResponse">
<part name="parameters" element="tns:createCardGameResponse"/>
</message>
<message name="GameException">
<part name="fault" element="tns:GameException"/>
</message>
<message name="removeCardGame">
<part name="parameters" element="tns:removeCardGame"/>
</message>
<message name="removeCardGameResponse">
<part name="parameters" element="tns:removeCardGameResponse"/>
</message>
<message name="transferCards">
<part name="parameters" element="tns:transferCards"/>
</message>
<message name="transferCardsResponse">
<part name="parameters" element="tns:transferCardsResponse"/>
</message>
<portType name="CardGameService">
<operation name="create-all-supply-pile">
<input wsam:Action="http://games/CardGameService/create-all-supply-pileRequest" message="tns:create-all-supply-pile"/>
<output wsam:Action="http://games/CardGameService/create-all-supply-pileResponse" message="tns:create-all-supply-pileResponse"/>
</operation>
<operation name="createPile">
<input wsam:Action="http://games/CardGameService/createPileRequest" message="tns:createPile"/>
<output wsam:Action="http://games/CardGameService/createPileResponse" message="tns:createPileResponse"/>
</operation>
<operation name="createPiles">
<input wsam:Action="http://games/CardGameService/createPilesRequest" message="tns:createPiles"/>
<output wsam:Action="http://games/CardGameService/createPilesResponse" message="tns:createPilesResponse"/>
</operation>
<operation name="showTopCard">
<input wsam:Action="http://games/CardGameService/showTopCardRequest" message="tns:showTopCard"/>
<output wsam:Action="http://games/CardGameService/showTopCardResponse" message="tns:showTopCardResponse"/>
</operation>
<operation name="showPile">
<input wsam:Action="http://games/CardGameService/showPileRequest" message="tns:showPile"/>
<output wsam:Action="http://games/CardGameService/showPileResponse" message="tns:showPileResponse"/>
</operation>
<operation name="shuffleAll">
<input wsam:Action="http://games/CardGameService/shuffleAllRequest" message="tns:shuffleAll"/>
<output wsam:Action="http://games/CardGameService/shuffleAllResponse" message="tns:shuffleAllResponse"/>
</operation>
<operation name="shufflePile">
<input wsam:Action="http://games/CardGameService/shufflePileRequest" message="tns:shufflePile"/>
<output wsam:Action="http://games/CardGameService/shufflePileResponse" message="tns:shufflePileResponse"/>
</operation>
<operation name="createCardGame">
<input wsam:Action="http://games/CardGameService/createCardGameRequest" message="tns:createCardGame"/>
<output wsam:Action="http://games/CardGameService/createCardGameResponse" message="tns:createCardGameResponse"/>
<fault message="tns:GameException" name="GameException" wsam:Action="http://games/CardGameService/createCardGame/Fault/GameException"/>
</operation>
<operation name="removeCardGame">
<input wsam:Action="http://games/CardGameService/removeCardGameRequest" message="tns:removeCardGame"/>
<output wsam:Action="http://games/CardGameService/removeCardGameResponse" message="tns:removeCardGameResponse"/>
</operation>
<operation name="transferCards">
<input wsam:Action="http://games/CardGameService/transferCardsRequest" message="tns:transferCards"/>
<output wsam:Action="http://games/CardGameService/transferCardsResponse" message="tns:transferCardsResponse"/>
</operation>
</portType>
<binding name="CardGameServicePortBinding" type="tns:CardGameService">
<wsp:PolicyReference URI="#Wssp1.2-2007-Wss1.1-UsernameToken-Plain-X509-Basic256.xml"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create-all-supply-pile">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPile">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPiles">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showTopCard">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showPile">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shuffleAll">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shufflePile">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCardGame">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GameException">
<soap:fault name="GameException" use="literal"/>
</fault>
</operation>
<operation name="removeCardGame">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferCards">
<wsp:PolicyReference URI="#Wssp1.2-2007-SignBody.xml"/>
<wsp:PolicyReference URI="#Wssp1.2-2007-EncryptBody.xml"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CardGameService">
<port name="CardGameServicePort" binding="tns:CardGameServicePortBinding">
<soap:address location="http://localhost:7001/GenericCardGameWS/CardGameService"/>
</port>
</service>
</definitions>